{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "import",
    "node",
    "standard",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-extra-semi": "off",
    "react/no-unescaped-entities": "off"
  }
}
