---
layout: layouts/main.njk
title: Thank you. Preparing your trip package
---

{% container %}
  <style>
      #plan-submited figure {
        min-width: 150px;
        width: 70%;
        max-width: 250px;
        margin: 30px auto;
      }
  </style>
  <div id="plan-submited" style="margin: 6vh 0 15vh; text-align: center;">
    <figure>
      <img src="/static/images/taking_notes.svg" alt="In Progress" />
    </figure>
    <div style="margin-bottom: 30px; overflow: hidden;">
      <h2 style="marginBottom: 20px; color: {{ theme.primary }};">
        Thank you for sharing your details.
      </h2>
      <p style="font-size: 1.25rem">
        Our sales executive will shortly contact regarding your trip.
        We will put our best efforts to create a unique experience for
        you on this trip.
      </p>
    </div>
  </div>
{% endcontainer %}
